MPG/Connected Services/Memor/Memor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Codesys.WriteMemor" elementFormDefault="qualified" targetNamespace="http://Codesys.WriteMemor" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.31.137:820/CodesysIIS/Memor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GD_STD" />
  <xs:element name="SetPanel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="value" type="q1:PanelButton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPanelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDrillWarehouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="value" nillable="true" type="q2:DrillWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDrillWarehouseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="value" nillable="true" type="q3:OillSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOillResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHydraulic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="value" nillable="true" type="q4:OillSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHydraulicResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLubricant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="value" nillable="true" type="q5:OillSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLubricantResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="value" nillable="true" type="q6:OillSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="value" type="q7:Host" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHostResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProcessingInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="value" nillable="true" type="q8:ProcessingInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProcessingInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOutage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="value" type="q9:Outage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOutageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMPG">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="value" type="q10:MPG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMPGResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>