ConsoleApp3/Connected Services/Memor/Memor6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GD_STD.Base" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GD_STD.Base" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.31.137:820/CodesysIIS/Memor.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GD_STD.Enum" />
  <xs:import schemaLocation="http://192.168.31.137:820/CodesysIIS/Memor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GD_STD" />
  <xs:import schemaLocation="http://192.168.31.137:820/CodesysIIS/Memor.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDrillSetting">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DrillSetting" type="tns:DrillSetting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDrillSetting" nillable="true" type="tns:ArrayOfDrillSetting" />
  <xs:complexType name="DrillSetting">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AutoError" type="xs:boolean" />
      <xs:element minOccurs="0" name="Change" type="xs:boolean" />
      <xs:element minOccurs="0" name="Dia" type="xs:double" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GD_STD.Enum" minOccurs="0" name="DrillType" type="q1:DRILL_TYPE" />
      <xs:element minOccurs="0" name="FeedQuantity" type="xs:float" />
      <xs:element minOccurs="0" name="Index" type="xs:short" />
      <xs:element minOccurs="0" name="IsCurrent" type="xs:boolean" />
      <xs:element minOccurs="0" name="KnifeHandle" type="xs:float" />
      <xs:element minOccurs="0" name="Length" type="xs:float" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GD_STD.Enum" minOccurs="0" name="Level" type="q2:DRILL_LEVEL" />
      <xs:element minOccurs="0" name="Limit" type="xs:short" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="Position" type="q3:Axis4D" />
      <xs:element minOccurs="0" name="Rpm" type="xs:double" />
      <xs:element minOccurs="0" name="Sensor" type="xs:boolean" />
      <xs:element minOccurs="0" name="SumLength" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DrillSetting" nillable="true" type="tns:DrillSetting" />
  <xs:complexType name="ClampDownSetting">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="EntranceL" type="xs:double" />
      <xs:element minOccurs="0" name="EntranceR" type="xs:double" />
      <xs:element minOccurs="0" name="ExportL" type="xs:double" />
      <xs:element minOccurs="0" name="ExportR" type="xs:double" />
      <xs:element minOccurs="0" name="Thickness" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClampDownSetting" nillable="true" type="tns:ClampDownSetting" />
  <xs:complexType name="HandSetting">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ArmInDownCheckPosition" type="xs:double" />
      <xs:element minOccurs="0" name="ArmInDownSensorToForntLength" type="xs:double" />
      <xs:element minOccurs="0" name="ArmInTouchOriginLength" type="xs:double" />
      <xs:element minOccurs="0" name="ArmXToOriginPoint" type="xs:double" />
      <xs:element minOccurs="0" name="HandJobLimit" type="xs:double" />
      <xs:element minOccurs="0" name="InTotalLength" type="xs:double" />
      <xs:element minOccurs="0" name="Length" type="xs:double" />
      <xs:element minOccurs="0" name="MaterialCorrectionWorkRange" type="xs:double" />
      <xs:element minOccurs="0" name="MaterialZeroToWorkRange" type="xs:double" />
      <xs:element minOccurs="0" name="OutClampToZeroLength" type="xs:double" />
      <xs:element minOccurs="0" name="OutTotalLength" type="xs:double" />
      <xs:element minOccurs="0" name="VerticalGrippingXLimit" type="xs:double" />
      <xs:element minOccurs="0" name="VerticalToOriginLength" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HandSetting" nillable="true" type="tns:HandSetting" />
  <xs:complexType name="AxisSetting">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="MeasuringPosition" type="q4:Axis3D" />
      <xs:element minOccurs="0" name="SensorZero" type="xs:double" />
      <xs:element minOccurs="0" name="TotalLength" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AxisSetting" nillable="true" type="tns:AxisSetting" />
</xs:schema>