WPFSTD105Base/Connected Services/ReadMemoryDuplex/ReadMemoryDuplex1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Codesys.ReadMemoryDuplex" elementFormDefault="qualified" targetNamespace="http://Codesys.ReadMemoryDuplex" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63506/ReadMemoryDuplex.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GD_STD" />
  <xs:import schemaLocation="http://localhost:63506/ReadMemoryDuplex.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/GD_STD.Phone" />
  <xs:import schemaLocation="http://localhost:63506/ReadMemoryDuplex.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetPanel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHost">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMainAxisLocation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetToken">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTokenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="run" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartLoginResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPanel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="panelButton" type="q1:PanelButton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendHost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="host" type="q2:Host" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMainAxisLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="axisLocation" type="q3:MainAxisLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GD_STD.Phone" minOccurs="0" name="login" type="q4:Login" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDrills">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GD_STD.Phone" minOccurs="0" name="workMaterials" nillable="true" type="q5:ArrayOfWorkMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendIndex">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="index" nillable="true" type="q6:ArrayOfunsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>