WPFSTD105Base/Connected Services/ReadMemoryDuplex/ReadMemoryDuplex2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GD_STD" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GD_STD" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63506/ReadMemoryDuplex.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GD_STD.Enum" />
  <xs:import schemaLocation="http://localhost:63506/ReadMemoryDuplex.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="PanelButton">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GD_STD.Enum" minOccurs="0" name="Alarm" type="q1:ERROR_CODE" />
      <xs:element minOccurs="0" name="AxisEffluent" type="xs:boolean" />
      <xs:element minOccurs="0" name="AxisLooseKnife" type="xs:boolean" />
      <xs:element minOccurs="0" name="AxisRotation" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GD_STD.Enum" minOccurs="0" name="AxisSelect" type="q2:AXIS_SELECTED" />
      <xs:element minOccurs="0" name="AxisStop" type="xs:boolean" />
      <xs:element minOccurs="0" name="ClampDown" type="xs:boolean" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GD_STD.Enum" minOccurs="0" name="ClampDownSelected" type="q3:CLAMP_DOWN" />
      <xs:element minOccurs="0" name="Clutch" type="xs:boolean" />
      <xs:element minOccurs="0" name="Count" type="xs:short" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GD_STD.Enum" minOccurs="0" name="DrillSelected" type="q4:DRILL_POSITION" />
      <xs:element minOccurs="0" name="DrillWarehouse" type="xs:boolean" />
      <xs:element minOccurs="0" name="EMS" type="xs:boolean" />
      <xs:element minOccurs="0" name="EntranceRack" type="xs:boolean" />
      <xs:element minOccurs="0" name="ExportRack" type="xs:boolean" />
      <xs:element minOccurs="0" name="Hand" type="xs:boolean" />
      <xs:element minOccurs="0" name="HandSpeed" type="xs:short" />
      <xs:element minOccurs="0" name="HighSpeed" type="xs:boolean" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GD_STD.Enum" minOccurs="0" name="Joystick" type="q5:JOYSTICK" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GD_STD.Enum" minOccurs="0" name="Key" type="q6:KEY_HOLE" />
      <xs:element minOccurs="0" name="MainAxisMode" type="xs:boolean" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GD_STD.Enum" minOccurs="0" name="Move_OutSide" type="q7:MOBILE_RACK" />
      <xs:element minOccurs="0" name="Oil" type="xs:boolean" />
      <xs:element minOccurs="0" name="OpenRoll" type="xs:boolean" />
      <xs:element minOccurs="0" name="Origin" type="xs:boolean" />
      <xs:element minOccurs="0" name="PositionWheel" type="xs:boolean" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GD_STD.Enum" minOccurs="0" name="RollMove" type="q8:MOBILE_RACK" />
      <xs:element minOccurs="0" name="Run" type="xs:boolean" />
      <xs:element minOccurs="0" name="SideClamp" type="xs:boolean" />
      <xs:element minOccurs="0" name="Stop" type="xs:boolean" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GD_STD.Enum" minOccurs="0" name="Traverse_Shelf_UP" type="q9:SHELF" />
      <xs:element minOccurs="0" name="Volume" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PanelButton" nillable="true" type="tns:PanelButton" />
  <xs:complexType name="Host">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Analysis" type="xs:boolean" />
      <xs:element minOccurs="0" name="AutoDrill" type="xs:boolean" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GD_STD.Enum" minOccurs="0" name="CodesysStatus" type="q10:CODESYS_STATUS" />
      <xs:element minOccurs="0" name="CodesysWrite" type="xs:boolean" />
      <xs:element minOccurs="0" name="Comply" type="xs:boolean" />
      <xs:element minOccurs="0" name="Deserialize" type="xs:boolean" />
      <xs:element minOccurs="0" name="EtherCATOpen" type="xs:boolean" />
      <xs:element minOccurs="0" name="PCOpen" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReplaceHole" type="xs:boolean" />
      <xs:element minOccurs="0" name="Serializable" type="xs:boolean" />
      <xs:element minOccurs="0" name="Withdraw" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Host" nillable="true" type="tns:Host" />
  <xs:complexType name="MainAxisLocation">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Left" type="tns:Axis3D" />
      <xs:element minOccurs="0" name="Middle" type="tns:Axis3D" />
      <xs:element minOccurs="0" name="Right" type="tns:Axis3D" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MainAxisLocation" nillable="true" type="tns:MainAxisLocation" />
  <xs:complexType name="Axis3D">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
      <xs:element minOccurs="0" name="Z" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Axis3D" nillable="true" type="tns:Axis3D" />
  <xs:complexType name="ArrayOfDrill">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Drill" type="tns:Drill" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDrill" nillable="true" type="tns:ArrayOfDrill" />
  <xs:complexType name="Drill">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GD_STD.Enum" minOccurs="0" name="AXIS_MODE" type="q11:AXIS_MODE" />
      <xs:element minOccurs="0" name="Dia" type="xs:double" />
      <xs:element minOccurs="0" name="Finish" type="xs:boolean" />
      <xs:element minOccurs="0" name="G_Code" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="NoMatch" type="xs:boolean" />
      <xs:element minOccurs="0" name="Ox" type="xs:double" />
      <xs:element minOccurs="0" name="P1" type="tns:Axis2D" />
      <xs:element minOccurs="0" name="P2" type="tns:Axis2D" />
      <xs:element minOccurs="0" name="P3" type="tns:Axis2D" />
      <xs:element minOccurs="0" name="Through" type="xs:boolean" />
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Drill" nillable="true" type="tns:Drill" />
  <xs:complexType name="Axis2D">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Axis2D" nillable="true" type="tns:Axis2D" />
  <xs:complexType name="ArrayOfStamp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Stamp" type="tns:Stamp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStamp" nillable="true" type="tns:ArrayOfStamp" />
  <xs:complexType name="Stamp">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Finish" type="xs:boolean" />
      <xs:element minOccurs="0" name="StartX" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stamp" nillable="true" type="tns:Stamp" />
</xs:schema>