WPFSTD105Base/Connected Services/Memor/Memor76.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Codesys.Memory" elementFormDefault="qualified" targetNamespace="http://Codesys.Memory" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63506/Memor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GD_STD" />
  <xs:import schemaLocation="http://localhost:63506/Memor.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GD_STD.Enum" />
  <xs:import schemaLocation="http://localhost:63506/Memor.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/GD_STD.Base" />
  <xs:import schemaLocation="http://localhost:63506/Memor.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:63506/Memor.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/GD_STD.Phone" />
  <xs:element name="IniWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IniWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="host" type="q1:Host" />
        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="CreateResult" type="q2:Host" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAVT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BAVTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GD_STD.Enum" minOccurs="0" name="BAVTResult" type="q3:BAVT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonitorWorkOffset">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FieldName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonitorWorkOffsetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMonitorWorkOffsetResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkOther">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkOtherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GD_STD.Base" minOccurs="0" name="GetWorkOtherResult" nillable="true" type="q4:WorkOther" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndex">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetIndexResult" nillable="true" type="q5:ArrayOfshort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialTouch">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialTouchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMaterialTouchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPanel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPanelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="GetPanelResult" type="q6:PanelButton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrillWarehouse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrillWarehouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="GetDrillWarehouseResult" nillable="true" type="q7:DrillWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOill">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="GetOillResult" nillable="true" type="q8:OillSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHydraulic">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHydraulicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="GetHydraulicResult" nillable="true" type="q9:ArrayOfHydraulicSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLubricant">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLubricantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="GetLubricantResult" type="q10:LubricantSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCut">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="GetCutResult" type="q11:CutOilSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAxisInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAxisInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="GetAxisInfoResult" type="q12:AxisInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHost">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="GetHostResult" type="q13:Host" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="GetOutageResult" type="q14:Outage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnknownCode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnknownCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUnknownCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAPP_Struct">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAPP_StructResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GD_STD.Phone" minOccurs="0" name="GetAPP_StructResult" type="q15:APP_Struct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAPPMonitorMec">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAPPMonitorMecResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/GD_STD.Phone" minOccurs="0" name="GetAPPMonitorMecResult" type="q16:MonitorMec" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperating">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperatingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/GD_STD.Phone" minOccurs="0" name="GetOperatingResult" type="q17:Operating" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProjectNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:unsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/GD_STD.Phone" minOccurs="0" name="GetWorkMaterialResult" type="q18:WorkMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstantMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstantMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetInstantMessageResult" nillable="true" type="q19:ArrayOfunsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAndroidTest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAndroidTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="GetAndroidTestResult" type="q20:AndroidTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPanel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="value" type="q21:PanelButton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPanelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDrillWarehouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="value" nillable="true" type="q22:DrillWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDrillWarehouseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="value" nillable="true" type="q23:OillSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOillResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHydraulic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="value" nillable="true" type="q24:OillSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHydraulicResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLubricant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="value" nillable="true" type="q25:OillSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLubricantResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="value" nillable="true" type="q26:OillSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="value" type="q27:Host" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHostResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOutage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="value" type="q28:Outage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOutageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAPPStruct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/GD_STD.Phone" minOccurs="0" name="value" type="q29:APP_Struct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAPPStructResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAPPMonitorMec">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/GD_STD.Phone" minOccurs="0" name="value" type="q30:MonitorMec" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAPPMonitorMecResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMechanicalSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/GD_STD.Phone" minOccurs="0" name="value" type="q31:MechanicalSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMechanicalSettingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPhoneOperating">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/GD_STD.Phone" minOccurs="0" name="value" type="q32:Operating" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPhoneOperatingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMecOptional">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/GD_STD.Phone" minOccurs="0" name="value" type="q33:MecOptional" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMecOptionalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMonitorWorkOffset">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="offset" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMonitorWorkOffsetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetWorkMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/GD_STD.Phone" minOccurs="0" name="value" nillable="true" type="q34:ArrayOfWorkMaterial" />
        <xs:element minOccurs="0" name="offset" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetWorkMaterialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/GD_STD.Phone" minOccurs="0" name="value" type="q35:Login" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLoginResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAndroidTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="value" type="q36:AndroidTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAndroidTestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>