ConsoleApp8/Connected Services/Memor/Memor2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Codesys.Memory" elementFormDefault="qualified" targetNamespace="http://Codesys.Memory" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.31.137:820/CodesysIIS/Memor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GD_STD" />
  <xs:import schemaLocation="http://192.168.31.137:820/CodesysIIS/Memor.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GD_STD.Enum" />
  <xs:import schemaLocation="http://192.168.31.137:820/CodesysIIS/Memor.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/GD_STD.Phone" />
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="host" type="q1:Host" />
        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="CreateResult" type="q2:Host" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAVT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BAVTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GD_STD.Enum" minOccurs="0" name="BAVTResult" type="q3:BAVT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPanel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPanelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="GetPanelResult" type="q4:PanelButton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrillWarehouse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrillWarehouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="GetDrillWarehouseResult" nillable="true" type="q5:DrillWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOill">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="GetOillResult" nillable="true" type="q6:OillSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHydraulic">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHydraulicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="GetHydraulicResult" nillable="true" type="q7:ArrayOfHydraulicSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLubricant">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLubricantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="GetLubricantResult" type="q8:LubricantSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCut">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="GetCutResult" type="q9:CutOilSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAxisInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAxisInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="GetAxisInfoResult" type="q10:AxisInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHost">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="GetHostResult" type="q11:Host" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="GetOutageResult" type="q12:Outage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnknownCode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnknownCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUnknownCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAPP_Struct">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAPP_StructResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GD_STD.Phone" minOccurs="0" name="GetAPP_StructResult" type="q13:APP_Struct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAPPMonitorMec">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAPPMonitorMecResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GD_STD.Phone" minOccurs="0" name="GetAPPMonitorMecResult" type="q14:MonitorMec" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperating">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperatingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GD_STD.Phone" minOccurs="0" name="GetOperatingResult" type="q15:Operating" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:unsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/GD_STD.Phone" minOccurs="0" name="GetWorkMaterialResult" type="q16:WorkMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPanel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="value" type="q17:PanelButton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPanelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDrillWarehouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="value" nillable="true" type="q18:DrillWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDrillWarehouseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="value" nillable="true" type="q19:OillSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOillResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHydraulic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="value" nillable="true" type="q20:OillSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHydraulicResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLubricant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="value" nillable="true" type="q21:OillSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLubricantResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="value" nillable="true" type="q22:OillSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="value" type="q23:Host" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHostResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOutage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="value" type="q24:Outage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOutageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAPPStruct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/GD_STD.Phone" minOccurs="0" name="value" type="q25:APP_Struct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAPPStructResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAPPMonitorMec">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/GD_STD.Phone" minOccurs="0" name="value" type="q26:MonitorMec" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAPPMonitorMecResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMechanicalSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/GD_STD.Phone" minOccurs="0" name="value" type="q27:MechanicalSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMechanicalSettingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPhoneOperating">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/GD_STD.Phone" minOccurs="0" name="value" type="q28:Operating" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPhoneOperatingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMecOptional">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/GD_STD.Phone" minOccurs="0" name="value" type="q29:MecOptional" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMecOptionalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMonitorWorkOffset">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="offset" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMonitorWorkOffsetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetWorkMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/GD_STD.Phone" minOccurs="0" name="value" nillable="true" type="q30:ArrayOfWorkMaterial" />
        <xs:element minOccurs="0" name="offset" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetWorkMaterialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>