Fat_Baby/Connected Services/Memor/Memor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Codesys.Memor" elementFormDefault="qualified" targetNamespace="http://Codesys.Memor" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.31.137:820/CodesysIIS/Memor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GD_STD" />
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="host" type="q1:Host" />
        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="CreateResult" type="q2:Host" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>