Fat_Baby/Connected Services/Memor/Memor1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Codesys.Memor" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Codesys.Memor" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Codesys.Memor/Imports">
      <xsd:import schemaLocation="http://192.168.31.137:820/CodesysIIS/Memor.svc?xsd=xsd0" namespace="http://Codesys.Memor" />
      <xsd:import schemaLocation="http://192.168.31.137:820/CodesysIIS/Memor.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.31.137:820/CodesysIIS/Memor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GD_STD" />
      <xsd:import schemaLocation="http://192.168.31.137:820/CodesysIIS/Memor.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GD_STD.Enum" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMemor_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IMemor_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:portType name="IMemor">
    <wsdl:documentation>
      <summary>創建 IIS 與 Codesys 共享記憶體的服務合約</summary>
    </wsdl:documentation>
    <wsdl:operation name="Create">
      <wsdl:documentation>
        <summary>創建與 Codesys  共享的記憶體</summary>
        <returns>回傳 PC 與 Codesys 本機狀態</returns>
        <param name="host">PC 狀態</param>
        <param name="company">公司名稱</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://Codesys.Memor/IMemor/Create" message="tns:IMemor_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://Codesys.Memor/IMemor/CreateResponse" message="tns:IMemor_Create_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>