Fat_Baby/Connected Services/Memor/Memor1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Codesys.ReadMemor" elementFormDefault="qualified" targetNamespace="http://Codesys.ReadMemor" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.31.137:820/CodesysIIS/Memor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GD_STD" />
  <xs:import schemaLocation="http://192.168.31.137:820/CodesysIIS/Memor.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/GD_STD.Phone" />
  <xs:element name="GetPanel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPanelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="GetPanelResult" type="q1:PanelButton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrillWarehouse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrillWarehouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="GetDrillWarehouseResult" nillable="true" type="q2:DrillWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOill">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="GetOillResult" nillable="true" type="q3:OillSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHydraulic">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHydraulicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="GetHydraulicResult" nillable="true" type="q4:ArrayOfHydraulicSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLubricant">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLubricantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="GetLubricantResult" type="q5:LubricantSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCut">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="GetCutResult" type="q6:CutOilSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInput">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInputResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="GetInputResult" type="q7:Input" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutput">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutputResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="GetOutputResult" type="q8:Output" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAxisInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAxisInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="GetAxisInfoResult" type="q9:AxisInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHost">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="GetHostResult" type="q10:Host" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProcessingInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProcessingInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="GetProcessingInfoResult" nillable="true" type="q11:ProcessingInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GD_STD" minOccurs="0" name="GetOutageResult" type="q12:Outage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnknownCode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnknownCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUnknownCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAPP_Struct">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAPP_StructResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GD_STD.Phone" minOccurs="0" name="GetAPP_StructResult" type="q13:APP_Struct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAPPMonitorWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAPPMonitorWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GD_STD.Phone" minOccurs="0" name="GetAPPMonitorWorkResult" type="q14:MonitorWork" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAPPMonitorMec">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAPPMonitorMecResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GD_STD.Phone" minOccurs="0" name="GetAPPMonitorMecResult" type="q15:MonitorMec" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="_GetAPP_Struct">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="_GetAPP_StructResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/GD_STD.Phone" minOccurs="0" name="_GetAPP_StructResult" type="q16:APP_Struct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="_GetAPPMonitorWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="_GetAPPMonitorWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/GD_STD.Phone" minOccurs="0" name="_GetAPPMonitorWorkResult" type="q17:MonitorWork" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="_GetAPPMonitorMec">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="_GetAPPMonitorMecResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/GD_STD.Phone" minOccurs="0" name="_GetAPPMonitorMecResult" type="q18:MonitorMec" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>