測試IIS/Connected Services/ExternalImport/ExternalImport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://HMI.ExternalImportDuplex" elementFormDefault="qualified" targetNamespace="http://HMI.ExternalImportDuplex" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59183/ExternalImport.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:59183/ExternalImport.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GD_STD.Data" />
  <xs:element name="RootDirectory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadDirectory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="length" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseDirectory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="path" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="position" type="xs:long" />
        <xs:element minOccurs="0" name="schedule" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Conflict">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GD_STD.Data" minOccurs="0" name="list" nillable="true" type="q2:ArrayOfSteelPart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndFile">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>